* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5853F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2D080A;
    margin: 3rem;
}

table {
    background-color: #E7CCAF;
    border: 1px solid black;
    font-size: 1.2rem;
}

td, th {
    padding: 10px;
    border: 1px solid black;
}

.column-heading {
    background-color: #143642;
    color: white;
}